.item-list{
    list-style-type: none; /*เป็นการเอา จุดli ออก*/
    padding: 0;
    /* margin-bottom: 40px; แบ่งระยะ */
}
.item-list li{ /*class name item-list ซึ่งมี li อยู่*/
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12); /*เงาจาก li แต่ละตัว*/
    padding: 18px;
    color: #333;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    position: relative;
}